<template name='rabbit_printContract'>

    {{#if data}}
        {{#with data}}
            <table align="center">
                <div class="col-md-12" align='center' style='font-size: 14px;font-family: Khmer OS Muol Light;'><span>
        ព្រះរាជាណាចក្រកម្ពុជា</span><br>&nbsp;&nbsp;ជាតិ សាសនា ព្រះមហាក្សត្រ
                    <br><br>
                </div>
                <div class="col-md-12" align='center' style='font-size: 14px;font-family: Khmer OS Muol Light;'><span>
      <u>កិច្ចសន្យាទិញលក់ ប្រព័ន្ធគ្រប់គ្រង</u></span><br>&nbsp;&nbsp;
                    <!--product here-->
                    {{product.name}}
                    <br><br>
                </div>

                <div style='margin-top: 30px;'></div>


                <div class='col-md-12' style="padding: 20px;">
                    <p
                            style="font-family: khmer os battambang;font-size: 13px; line-height: 27px;text-align: justify">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;កិច្ចសន្យានេះធ្វើឡើងរវាងលោក<b
                            style="font-family:Khmer Os Muol Light">​​​​ យួម ធារ៉ា</b> អាយុ <b>៣៣</b> ឆ្នាំ
                        កាន់អត្តសញ្ញាណប័ណ្ណលេខ<br> <b>១៧០៤០៦៣០៤</b> មុខងារជា នាយក
                        ដែលតំណាងឱ្យ <strong style="font-family:Khmer Os Muol Light">មជ្ឈមណ្ឌលបណ្តុះបណ្តាល
                        រ៉ាប៊ីត </strong>
                        ដែលហៅកាត<br> ថាភាគី ”ក” (អ្នកលក់) ជាមួយលោក
                        <b style="font-family: khmer os battambang;font-size: 13px;"> &nbsp;{{customer.contractName}}
                            &nbsp;</b>អាយុ <b>{{customer.age}}</b> ឆ្នាំ
                        កាន់អត្ត<br>តសញ្ញាណប័ណ្ណលេខ {{customer.id}} មុខងារជា
                        {{customer.position}} ដែលតំណាងឱ្យ<br> {{customer.companyName}} ដែលហៅកាត់ថា ភាគី ”ខ”
                        (អ្នកទិញ)។<br>
                    </p>

                    <p align="justify" style="font-family: khmer os battambang;font-size: 13px; line-height: 27px;">

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        ភាគីទាំងពីរបានព្រមព្រៀងចុះកិច្ចសន្យា តាមខ្លឹមសារដែលមានចែងដូចខាងក្រោម៖<br>
                        ប្រការ១ ភាគី ”ក” យល់ព្រមលក់ ប្រព័ន្ធគ្រប់គ្រង ពេទ្យធ្មេញ ឱ្យទៅភាគី ”ខ” ក្នុងតម្លៃ ៧០០ <br>USD
                        (ប្រាំពីររយដុល្លារអាមេរិក) ដើម្បីប្រើប្រាស់ក្នុងពេទ្យធ្មេញរបស់ខ្លួន ដែលមានអាសយដ្ឋាន ក្រុង<br>
                        ប៉ោយប៉ែត
                        ខេត្តបន្ទាយមានជ័យ (ការិយាល័យកណ្តាល)។
                    </p>

                    <p align="justify" style="font-family: khmer os battambang;font-size: 13px; line-height: 27px;">

                        ប្រការ២ ក្នុងករណីភាគី ”ខ” ចង់បង្កើតសាខាថ្មីនៅលើប្រព័ន្ធ ដើម្បីប្រើប្រាស់បន្ថែម ភាគី ”ខ” ត្រូវបង់<br>
                        ប្រាក់ចំនួន ៣០០ USD (បីរយដុល្លារអាមេរិក) ឱ្យទៅភាគី ”ក” ក្នុងមួយសាខា។
                    </p>

                    <p align="justify" style="font-family: khmer os battambang;font-size: 13px; line-height: 27px;">

                        ប្រការ៣ ភាគី ”ខ” ត្រូវបង់ប្រាក់ លើការអភិវឌ្ឍន៍ប្រព័ន្ធជា ៣ លើក គឺ៖<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- លើកទី១
                        ត្រូវបង់ប្រាក់
                        ៤០% ពេលចុះកិច្ចសន្យាដំបូង។<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- លើកទី២
                        ត្រូវបង់ប្រាក់
                        ៣០% ពេលដាក់ឱ្យប្រើប្រាស់សាកល្បង។<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- លើកទី៣
                        ត្រូវបង់ប្រាក់
                        ៣០% ចុងក្រោយនៅពេលដាក់ឱ្យប្រើប្រាស់ជាផ្លូវការ។
                        <br>
                    </p>

                    <p align="justify" style="font-family: khmer os battambang;font-size: 13px; line-height: 27px;">

                        ប្រការ៤ ភាគី ”ក” ត្រូវប្រគ្រល់ប្រាក់ទាំងអស់ដែលទទួលបាន ឱ្យទៅភាគី ”ខ” វិញក្នុងករណីភាគី ”ក”<br>
                        បរាជ័យក្នុងការអភិវឌ្ឍន៍ ឬកែរាល់កំហុសផ្សេងៗដែលកើតមាន ក្នុងកំឡុងពេលប្រើប្រាស់សាកល្បង។<br>
                    </p>

                    <p align="justify" style="font-family: khmer os battambang;font-size: 13px; line-height: 27px;">

                        ប្រការ៥ ភាគី ”ខ” ត្រូវបន្តកិច្ចសន្យាក្នុងការថែទាំប្រព័ន្ធជាមួយភាគី ”ក” ដោយការិយាល័យកណ្តាល<br>
                        ត្រូវបង់ប្រាក់សេវាចំនួន ២២០ USD (ពីររយម្ភៃដុល្លារអាមេរិក) និងសាខាត្រូវបង់ ១៧០ USD (មួយរយ<br>
                        ចិតសិបដុល្លារអាមេរិក) ក្នុងមួយសាខា (ក្នុងមួយឆ្នាំ)។ កិច្ចសន្យាថែទាំប្រព័ន្ធនេះ
                        ត្រូវធ្វើឡើងរៀងរាល់<br>
                        មួយឆ្នាំម្តង។ បញ្ជាក់៖ ភាគី ”ខ” នឹងទទួលបាននូវសេវាថែទាំដោយឥតគិតថ្លៃ
                        ដូចជាការធ្វើបច្ចុប្បន្នភាព<br>
                        ជាប្រចាំលើប្រព័ន្ធចាស់ (Update) និងដំណោះស្រាយផ្សេងៗសម្រាប់គ្រប់សាខា តាមរយៈទូរស័ព្ទ អ៊ីម៉ែល<br>
                        និងអ៊ីនធឺណែតជាដើម។ ម៉្យាងវិញទៀតភាគី ”ក” នឹងចុះដោយផ្ទាល់ នៅការិយាល័យកណ្តាល បើមាន<br> ការចាំបាច់។
                    </p>

                    <p align="justify" style="font-family: khmer os battambang;font-size: 13px; line-height: 27px;">

                        ប្រការ៦ ភាគី ”ខ” ត្រូវទទួលបាននូវការតម្លើង បណ្តុះបណ្តាល (សម្រាប់លើកដំបូង) និងការប្រើប្រាស់<br>
                        ប្រព័ន្ធសាកល្បងរយៈពេលមួយខែ ព្រមទាំងការថែទាំរយៈពេលបីខែ ដោយឥតគិតថ្លៃ។
                    </p>

                    <p align="justify" style="font-family: khmer os battambang;font-size: 13px; line-height: 27px;">

                        ប្រការ៧ ភាគី ”ខ” មានសិទ្ធិស្នើរឱ្យភាគី ”ក” អភិវឌ្ឍលើចំនុចថ្មីៗបន្ថែម តាមរយៈការចរចារគ្នាជាក់<br>
                        ស្តែង
                        បន្ទាប់ពីប្រព័ន្ធនេះ ត្រូវបានដាក់ឱ្យប្រើប្រាស់រួចរាល់។ </p>

                    <p align="justify" style="font-family: khmer os battambang;font-size: 13px; line-height: 27px;">

                        ប្រការ៨ ភាគី ”ខ” មិនត្រូវបានអនុញ្ញាតឱ្យចែកចាយ ឬលក់ប្រព័ន្ធនេះបន្តឱ្យទៅស្ថាប័នផ្សេង ទៀត<br> ឡើយ។
                    </p>

                    <p align="justify" style="font-family: khmer os battambang;font-size: 13px; line-height: 27px;">

                        ប្រការ៩ ភាគី ”ខ” ត្រូវទទួលខុសត្រូវចំពោះបញ្ហាផ្សេងៗ ដែលបង្កឡើងដោយភាគី ”ខ” ខ្លួនឯងមាន ដូច<br>ជា
                        ការបញ្ចូលព័ត៌មានខុសបច្ចេកទេស ការខូចម៉ាស៊ីនកុំព្យូទ័រ ឬមានមេរោគជាដើម។ល។<br>
                    </p>

                    <p align="justify" style="font-family: khmer os battambang;font-size: 13px; line-height: 27px;">

                        ប្រការ១០ កិច្ចសន្យានេះមានពីរទំព័រ និងធ្វើឡើងចំនួនពីរច្បាប់ដើមសម្រាប់ភាគី ”ក” មួយច្បាប់ និង<br>
                        សម្រាប់ភាគី ”ខ” មួយច្បាប់។
                        <br>

                    </p>

                    <p align="justify" style="font-family: khmer os battambang;font-size: 13px; line-height: 27px;">

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        កិច្ចសន្យានេះមានសុពលភាពចាប់ពីថ្ងៃចុះហត្ថលេខានេះតទៅ។ រាល់កិច្ចសន្យា ឬលិខិតស្នាម<br>ទាំងឡាយណាដែលផ្ទុយពីនេះត្រូវចាត់ទុកជាមោឃៈ
                        ហើយភាគីដែលល្មើសនឹងកិច្ចសន្យាខាងលើត្រូវ<br>ទទួលខុសត្រូវចំពោះមុខច្បាប់ជាធរមាន។
                        <br>
                    </p>
                </div>
            </table>
        {{/with}}
        {{> lendingSignFooter}}
    {{else}}
        {{> loading}}
    {{/if}}
</template>

<template name="lendingSignFooter">
    <table width="100%" border="0" style="font-family: khmer os battambang; font-size: 13px;text-align: center">
        <tr>
            <td width="33%">
                អ្នកខ្ចី<br><br><br><br><br><br><br>
                __________________<br>
            </td>
            <td width="33%">
                សាក្សី<br><br><br><br><br><br><br>
                __________________<br>
            </td>
            <td>តំណាងក្រុមហ៊ុន<br><br><br><br><br><br><br>
                __________________<br>
            </td>
        </tr>

    </table>
</template>