<!--Index-->
<template name="rabbit_contract">
    <p>
        <button type="button" class="btn btn-primary js-insert">{{fa "plus"}} Add New</button>
    </p>
    <div class="pull-right" style="display: inline">
        <small>

            {{#with customer}}
                <a href="#" class="jsCustomerInfo">{{_id}} : {{companyName}} | Tel: {{telephone}}|
                    Address: {{address}}</a>
            {{/with}}
        </small>
    </div>
    {{> tabular table=Rabbit.TabularTable.Contract selector=selector class="table table-striped table-bordered table-condensed table-hover-pointer"}}
</template>

<!--Action-->
<template name="rabbit_contractAction">
    {{#tabularAction}}
        <li><a href="#" class="js-update">{{fa "pencil"}} Update</a></li>
        <li><a href="#" class="js-remove">{{fa "remove"}} Remove</a></li>
        <li><a href="#" class="js-show">{{fa "eye"}} Show</a></li>
    {{/tabularAction}}
</template>

<!--Insert-->
<template name="rabbit_contractInsert">
    {{#autoForm collection=Rabbit.Collection.Contract id="rabbit_contractInsert" type="insert"}}
        <div class="row">
            <div class="col-md-6">
                {{> afQuickField name="customerId"  readOnly=true value=customerId}}
                {{> afQuickField name="contractDate"}}
            </div>
            <div class="col-md-6">
                {{> afQuickField name="productId" class='productId'}}
            </div>
            <div class="col-md-12">
                {{> afArrayField name="basePrice" template="basePriceArrayField" subtemplate="basePriceObjectField" id="basePrice"}}
                {{> afArrayField name="maintenancePrice" id="maintenancePrice" template="basePriceArrayField" subtemplate="maintenancePriceObjectField" }}
            </div>
            <div class="col-md-6">
                {{> afQuickField name="paymentMethod"}}
                {{> afQuickField name="type" class='type'}}
                <div class="testing">
                    {{> afQuickField name="testing"}}
                </div>
            </div>
            <div class="col-md-6">


                {{> afQuickField name="maintenanceFee"}}
                {{> afQuickField name="des"}}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">{{fa "floppy-o"}} Save</button>
        <button type="reset" class="btn btn-default">{{fa "refresh"}} Reset</button>

    {{/autoForm}}
</template>
<template name="rabbit_addOffice">
    <button id="addOffice" class="btn btn-default">Add Office</button>
    <button id="addBranch" class="btn btn-default">Add Branch</button>
</template>
<!--Update-->
<template name="rabbit_contractUpdate">
    <!--Built-in template sub ready by all-->
    {{#if Template.subscriptionsReady}}
        {{#autoForm collection=Rabbit.Collection.Contract id="rabbit_contractUpdate" doc=this type="update"}}
            <div class="row">
                <div class="col-md-6">
                    {{> afQuickField name="customerId"  readOnly=true value=customerId}}
                    {{> afQuickField name="contractDate"}}
                </div>
                <div class="col-md-6">
                    {{> afQuickField name="productId" class='productId'}}
                </div>
                <div class="col-md-12">
                    {{> afArrayField name="basePrice" template="basePriceArrayField" subtemplate="basePriceObjectField" id="basePrice"}}
                    {{> afArrayField name="maintenancePrice" id="maintenancePrice" template="basePriceArrayField" subtemplate="maintenancePriceObjectField" }}
                </div>
                <div class="col-md-6">
                    {{> afQuickField name="paymentMethod"}}
                    {{> afQuickField name="type" id='type'}}
                    <div id="testing">
                        {{> afQuickField name="testing"}}
                    </div>
                </div>
                <div class="col-md-6">
                    {{> afQuickField name="maintenanceFee"}}
                    {{> afQuickField name="des"}}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">{{fa "floppy-o"}} Save</button>
            <button type="reset" class="btn btn-default">{{fa "refresh"}} Reset</button>

        {{/autoForm}}
    {{else}}
        {{> loading}}
    {{/if}}

</template>

<!--Show-->
<template name="rabbit_contractShow">
    <!--Contract template sub ready by all-->
    {{#if templateSubReady}}
        {{#with data}}
            <dl class="dl-horizontal">
                <dt>customer:</dt>
                <dd>{{customerId}}</dd>
                <dt>contract Date:</dt>
                <dd>{{contractDate}}</dd>
                <dt>Product:</dt>
                <dd>{{_product.name}}</dd>
            </dl>
        {{/with}}
    {{else}}
        {{> loading}}
    {{/if}}
</template>

<template name="basePriceObjectField">
    <div class="col-sm-6">
        {{> afQuickField name=current.headOffice id='basePriceHeadOffice'  template="bootstrap3" label=false class="input-sm" placeholder="Head Office"}}
    </div>
    <div class="col-sm-6">
        {{> afQuickField name=current.branch id='basePriceBranch' template="bootstrap3" label=false class="input-sm" placeholder="Branch Office"}}
    </div>
</template>
<template name="maintenancePriceObjectField">
    <div class="col-sm-6">
        {{> afQuickField name=current.headOffice template="bootstrap3" id='MaintenaceHeadOffice' label=false class="input-sm" placeholder="Head Office"}}
    </div>
    <div class="col-sm-6">
        {{> afQuickField name=current.branch id='MaintenaceBranch' template="bootstrap3" label=false class="input-sm" placeholder="Branch Office"}}
    </div>
</template>

<template name="rabbit_officeLinkAction">
    <button type="button" class="btn btn-primary btn-sm officeAction">
        {{#if _officeCount}}
            {{_officeCount}}
        {{else}}
            0
        {{/if}}
    </button>
</template>
<template name="rabbit_paymentLinkAction">
    <button type="button" class="btn btn-primary btn-sm paymentAction">
        {{#if _paymentCount}}
            {{_paymentCount}}
        {{else}}
            0
        {{/if}}
    </button>
</template>