<template name='rabbit_paymentWebsiteInvoice'>

    <!--Is ready-->
    {{#if data}}
        {{#reportTpl options}}
            {{#with data}}
                {{#with title}}
                    <div class="title">
                        <table class="report-title">
                            <tr>
                                <td class="maintenance">
                                    <img src="/rabbit1.png">
                                </td>
                                <td>
                                    <div class="header-style">
                                        <span class="report-company-name"
                                              style="font-family: 'Khmer OS Muol">{{khName}}</span>
                                        <br>
                                        <span class="report-company-name">{{enName}}</span>
                                        <br>
                                        <span class="report-company-name">{{enAddress}}</span>
                                        <br>
                                        <u> វិក្កយបត្រ (Invoice) Website</u>
                                        <br>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                {{/with}}
                <div style="width: 50%; padding-top: 12px; float: left;">
                    <ul class="list-unstyled">
                        <li>
                            <strong>Company :</strong> {{header.companyName}}
                        </li>
                        <li>
                            <strong>Telephone :</strong> {{header.companyTelephone}}
                        </li>
                        <li>
                            <strong>ContractName: </strong> {{header.contractName}}
                        </li>
                        <li>
                            <strong>Telephone: </strong> {{header.telephone}}
                        </li>
                    </ul>
                </div>
                <div style="width: 50%; padding-top: 12px; float: right;">
                    <ul class="list-unstyled">

                        <li>
                            <strong>PaymentDate: </strong> {{header.paymentDate}}
                        </li>
                        <li>
                            <strong>WebsiteName: </strong> {{header.websiteName}}
                        </li>
                    </ul>
                </div>
                <!--Header-->
                <table class="table">
                    <thead>
                    <tr>
                        <th>Items</th>
                        <th>Price</th>
                        <!--<th>TotalSum</th>-->
                        <th>Paid</th>
                        <th>Due</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>DeSign Website</td>
                        <td>{{numFormat buildPrice "$0,0.00"}}</td>
                        <td>{{numFormat builSumPaid "$0,0.00"}}</td>
                        <td>{{numFormat buildDue "$0,0.00"}}</td>
                    </tr>
                    {{#if content.domainNamePrice}}
                        <tr>

                            <td>Domain</td>
                            <td>{{numFormat content.domainNamePrice "$0,0.00"}}</td>
                            <td>{{numFormat content.domainNamePaid "$0,0.00"}}</td>
                            <td>{{numFormat content.domainNameDue  "$0,0.00"}}</td>
                        </tr>
                    {{/if}}
                    {{#if content.hostingPrice}}
                        <tr>
                            <td>Hosting</td>
                            <td>{{numFormat content.hostingPrice "$0,0.00"}}</td>
                            <td>{{numFormat content.hostingPaid "$0,0.00"}}</td>
                            <td>{{numFormat content.hostingDue "$0,0.00"}}</td>
                        </tr>
                    {{/if}}
                    {{#if content.maintenancePrice}}
                        <tr>
                            <td>Maintenance</td>
                            <td>{{numFormat content.maintenancePrice "$0,0.00"}}</td>
                            <td>{{numFormat content.maintenancePaid "$0,0.00"}}</td>
                            <td>{{numFormat content.maintenanceDue "$0,0.00"}}</td>
                        </tr>
                    {{/if}}
                    </tbody>
                </table>

                <div style="border-top: 1px solid #000000;">
                    <div>
                        <p style="margin: 0px 0px 0px 556px;">
                            Total :&nbsp;&nbsp;&nbsp; <strong>{{numFormat footer.total "$0,0.00"}}</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </p>

                        <p style="margin: 0px 0px 0px 515px;">
                            paid Amount :&nbsp;&nbsp;&nbsp; <strong>{{numFormat footer.totalPaid "$0,0.00"}}</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </p>

                    </div>

                </div>
                <div style="border-top: 1px solid #000000;">
                    <div>
                        <p style="margin: 0px 0px 0px 516px;">
                            Due Amount :&nbsp;&nbsp;&nbsp; <strong>{{numFormat footer.due "$0,0.00"}}</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </p>

                    </div>
                </div>
                <div style="width: 69%; margin-top: 20px">
                    <ul class="list-unstyled">
                        <li>
                            <strong>Staff Sign:</strong> __________________
                        </li>
                    </ul>
                </div>

            {{/with}}
            <!--Sign-->
        {{/reportTpl}}
        <!--Auto print-->
        <!--{{autoprint close="true"}}-->
    {{else}}
        {{> loading}}
    {{/if}}

</template>
