<!--Index-->
<template name="rabbit_product">
    <p>
        <button type="button" class="btn btn-primary js-insert">{{fa "plus"}} Add New</button>
    </p>

    {{> tabular table=Rabbit.TabularTable.Product selector=selector class="table table-striped table-bordered table-condensed table-hover-pointer"}}
</template>

<!--Action-->
<template name="rabbit_productAction">
    {{#tabularAction}}
        <li><a href="#" class="js-update">{{fa "pencil"}} Update</a></li>
        <li><a href="#" class="js-remove">{{fa "remove"}} Remove</a></li>
        <li><a href="#" class="js-show">{{fa "eye"}} Show</a></li>
    {{/tabularAction}}
</template>

<!--Insert-->
<template name="rabbit_productInsert">
    {{#autoForm collection=Rabbit.Collection.Product id="rabbit_productInsert" type="insert"}}
        <div class="row">
            <div class="col-md-6">
                {{> afQuickField name="name"}}
                {{> afArrayField name="basePrice" id="basePrice" template="basePriceArrayField" subtemplate="basePriceObjectField"}}
            </div>
            <div class="col-md-6">
                {{> afArrayField name="maintenancePrice" id="maintenancePrice" template="basePriceArrayField" subtemplate="maintenancePriceObjectField"}}
            </div>
            {{> afQuickField name="feature"}}
            <button type="submit" class="btn btn-primary">{{fa "floppy-o"}} Save</button>
            <button type="reset" class="btn btn-default">{{fa "refresh"}} Reset</button>

        </div>
    {{/autoForm}}
</template>

<!--Update-->
<template name="rabbit_productUpdate">
    <!--Built-in template sub ready by all-->
    {{#if Template.subscriptionsReady}}
        {{#autoForm collection=Rabbit.Collection.Product id="rabbit_productUpdate" doc=this type="update"}}
            <div class="row">
                <div class="col-md-6">
                    {{> afQuickField name="name"}}
                    {{> afArrayField name="basePrice" id="basePrice" template="basePriceArrayField" subtemplate="basePriceObjectField"}}
                </div>
                <div class="col-md-6">
                    {{> afArrayField name="maintenancePrice" id="maintenancePrice" template="basePriceArrayField" subtemplate="maintenancePriceObjectField"}}
                </div>
                {{> afQuickField name="feature"}}
                <button type="submit" class="btn btn-primary">{{fa "floppy-o"}} Save</button>
                <button type="reset" class="btn btn-default">{{fa "refresh"}} Reset</button>
            </div>
        {{/autoForm}}
    {{else}}
        {{> loading}}
    {{/if}}
</template>

<!--Show-->
<template name="rabbit_productShow">
    <!--Product template sub ready by all-->
    {{#if templateSubReady}}
        {{#with data}}
            <dl class="dl-horizontal">
                <dt>ID:</dt>
                <dd>{{_id}}</dd>
                <dt>Name:</dt>
                <dd>{{name}}</dd>
                <dt>Base Price:</dt>
                <dd>{{base}}</dd>
                <dt>Maintenance Price:</dt>
                <dd>{{maintenance}}</dd>
                <dt>Feature:</dt>
                <dd>{{feature}}</dd>
            </dl>
        {{/with}}
    {{else}}
        {{> loading}}
    {{/if}}
</template>

<!--Location add on-->
<!--<template name="rabbit_locationAddOnProduct">-->
<!--{{> rabbit_location cssClass="pointer"}}-->
<!--</template>-->

<!--Custom array field-->
<template name="afArrayField_basePriceArrayField">
    <div class="panel panel-default">
        <div class="panel-heading">{{afFieldLabelText name=this.atts.name}}</div>
        <div class="panel-body">
            {{#if afFieldIsInvalid name=this.atts.name}}
                <div class="has-error">
                    <span class="help-block">{{{afFieldMessage name=this.atts.name}}}</span>
                </div>
            {{/if}}

            {{#afEachArrayItem name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
                <div class="row item-list">
                    {{> UI.dynamic template=../atts.subtemplate}}

                    <div class="col-sm-1">
                        {{#if afArrayFieldHasMoreThanMinimum name=../atts.name minCount=../atts.minCount maxCount=../atts.maxCount}}
                            <button type="button" class="btn btn-sm btn-danger autoform-remove-item btnRemove">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        {{/if}}
                    </div>
                </div>
            {{/afEachArrayItem}}

            {{#if afArrayFieldHasLessThanMaximum name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
                <div class="row">
                    <div class="col-sm-1 col-md-offset-11">
                        <button type="button" class="btn btn-primary autoform-add-item btn-sm btnAdd"
                                data-autoform-field="{{this.atts.name}}" data-autoform-minCount="{{this.atts.minCount}}"
                                data-autoform-maxCount="{{this.atts.maxCount}}">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>
            {{/if}}

        </div>
    </div>
</template>
<!--Custom object field-->
<template name="basePriceObjectField">
    <div class="col-sm-6">
        {{> afQuickField name=current.headOffice template="bootstrap3" label=false class="input-sm" placeholder="Head Office"}}
    </div>
    <div class="col-sm-6">
        {{> afQuickField name=current.branch template="bootstrap3" label=false class="input-sm" placeholder="Branch Office"}}
    </div>
</template>
<template name="maintenancePriceObjectField">
    <div class="col-sm-6">
        {{> afQuickField name=current.headOffice template="bootstrap3" label=false class="input-sm" placeholder="Head Office"}}
    </div>
    <div class="col-sm-6">
        {{> afQuickField name=current.branch template="bootstrap3" label=false class="input-sm" placeholder="Branch Office"}}
    </div>
</template>