<template name="rabbit_office">
    <p>
        <button type="button" class="btn btn-primary js-insert">{{fa "plus"}} Add New</button>
    </p>
    {{> tabular table=Rabbit.TabularTable.Office selector=selector class="table table-striped table-bordered table-condensed table-hover-pointer"}}
</template>

<!--Action-->
<template name="rabbit_officeAction">
    {{#tabularAction}}
        <li><a href="#" class="js-update">{{fa "pencil"}} Update</a></li>
        <li><a href="#" class="js-remove">{{fa "remove"}} Remove</a></li>
        <li><a href="#" class="js-show">{{fa "eye"}} Show</a></li>
    {{/tabularAction}}
</template>

<!--Insert-->
<template name="rabbit_officeInsert">
    {{#autoForm collection=Rabbit.Collection.Office id="rabbit_officeInsert" type="insert"}}
        <div class="row">
            <div class="col-md-12">
                {{> afQuickField name="contractId" value=contractId readonly=true}}
                {{> afQuickField name="type"  class='type'}}
                {{> afQuickField name="price" id="price"}}
                {{> afQuickField name="productId"  value=productId type='hidden' }}
                <button type="submit" class="btn btn-primary">{{fa "floppy-o"}} Save</button>
                <button type="reset" class="btn btn-default">{{fa "refresh"}} Reset</button>
            </div>
        </div>
    {{/autoForm}}
</template>

<!--Update-->
<template name="rabbit_officeUpdate">
    <!--Built-in template sub ready by all-->
    {{#if Template.subscriptionsReady}}
        {{#autoForm collection=Rabbit.Collection.Office id="rabbit_officeUpdate" doc=this type="update"}}
            <div class="row">
                <div class="col-md-12">
                    {{> afQuickField name="contractId" value=contractId readonly=true}}
                    {{> afQuickField name="type" class='type'}}
                    {{> afQuickField name="price"}}
                    {{> afQuickField name="productId"  value=productId type='hidden' }}
                    <button type="submit" class="btn btn-primary">{{fa "floppy-o"}} Save</button>
                    <button type="reset" class="btn btn-default">{{fa "refresh"}} Reset</button>
                </div>
            </div>
        {{/autoForm}}
    {{else}}
        {{> loading}}
    {{/if}}

</template>
<template name="rabbit_addMaintenance">
    <button id="addMaintenance" class="btn btn-default">Add Maintenance</button>
</template>
<!--Show-->
<template name="rabbit_officeShow">
    <!--&lt;!&ndash;Office template sub ready by all&ndash;&gt;-->
    <!--{{#if templateSubReady}}-->
        <!--{{#with data}}-->
            <dl class="dl-horizontal">
                <dt>ID:</dt>
                <dd>{{_id}}</dd>
                <dt>Type:</dt>
                <dd>{{type}}</dd>
                <dt>Price</dt>
                <dd>{{price}}</dd>
            </dl>
        <!--{{/with}}-->
    <!--{{else}}-->
        <!--{{> loading}}-->
    <!--{{/if}}-->
</template>

<!--Location add on-->
<!--<template name="rabbit_locationAddOnOffice">-->
<!--{{> rabbit_location cssClass="pointer"}}-->
<!--</template>-->