.select2-dropdown {
    z-index: 9999;
}

.selectize-dropdown, .selectize-input, .selectize-input input {
    font-size: 12px;
}

.quotation {
    padding-right: 37px;
    padding-left: 110px;
}

.maintenance {
    padding-right: 37px;
    padding-left: 23px;
}

.jsInfo {
    color: deepskyblue;
    font-size: medium;
}

.margin-checkbox {
    margin-bottom: 10px;
}

.col-sm-6-custom {
    width: 50%;
    float: left;
}

.fully, .monthly {
    width: 1282px

}

.paymentMethod {
    width: 1306px;
    padding-right: 4px;
    padding-left: 15px;
}
