<template name="rabbit_paymentWebsite">
    <p>
        <button type="button" class="btn btn-primary js-insert">{{fa "plus"}} Add New</button>
    </p>

    <div class="pull-right" style="display: inline">
        <small>

            {{#with contract}}
                <a href="#" class="jsInfo">{{_id}} | ContractDate : {{contractDate}} |
                    Product : {{_product.name}}|
                    || Customer(company) : {{_customer.companyName}}  |
                    ContractName : {{_customer.contractName}}</a>
            {{/with}}
        </small>
    </div>
    {{> tabular table=Rabbit.TabularTable.PaymentWebsite selector=selector class="table table-striped table-bordered table-condensed table-hover-pointer"}}
</template>

<!--Action-->
<template name="rabbit_paymentWebsiteAction">
    {{#tabularAction}}
        <li><a href="#" class="js-update updatePaymentWebsite">{{fa "pencil"}} Update</a></li>
        <li><a href="#" class="js-remove removePaymentWebsite">{{fa "remove"}} Remove</a></li>
        <li><a href="#" class="js-show">{{fa "eye"}} Show</a></li>
        <b>
            <li role="separator" class="divider"></li>
        </b>
        <li><a href="/rabbit/paymentWebsite/print/invoice/{{this._id}}" target="_blank">{{fa "print"}} Invoice</a></li>

    {{/tabularAction}}
</template>

<!--Insert-->
<template name="rabbit_paymentWebsiteInsert">
    {{#autoForm collection=Rabbit.Collection.PaymentWebsite doc=contract id="rabbit_paymentWebsiteInsert" type="insert"}}
        <div class="panel panel-default">
            <div class="panel-heading">Payment Website & Service</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        {{> afQuickField name="customerId"  readOnly=true}}

                    </div>
                    <div class="col-md-4">

                        {{> afQuickField name="websiteId"  readOnly=true}}
                    </div>
                    <div class="col-md-4">
                        {{> afQuickField name="des"}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Build Website</div>
                            <div class="panel-body">

                                <div class="col-sm-4">{{> afQuickField name="buildPrice"}}</div>
                                <div class="col-sm-4">{{> afQuickField name="buildPaid"}}</div>
                                <div class="col-sm-4">{{> afQuickField name="buildDue"}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Service</div>
                            <div class="panel-body">
                                <div class="col-md-12">
                                    <div class="col-sm-3">DomainName</div>
                                    <div class="col-sm-3">{{> afQuickField name="domainNamePrice"}}</div>
                                    <div class="col-sm-3">{{> afQuickField name="domainNamePaid"}}</div>
                                    <div class="col-sm-3">{{> afQuickField name="domainNameDue"}}</div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-sm-3">Hosting</div>
                                    <div class="col-sm-3">{{> afQuickField name="hostingPrice"}}</div>
                                    <div class="col-sm-3">{{> afQuickField name="hostingPaid"}}</div>
                                    <div class="col-sm-3">{{> afQuickField name="hostingDue"}}</div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-sm-3">Maintenance</div>
                                    <div class="col-sm-3">{{> afQuickField name="maintenancePrice"}}</div>
                                    <div class="col-sm-3">{{> afQuickField name="maintenancePaid"}}</div>
                                    <div class="col-sm-3">{{> afQuickField name="maintenanceDue"}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">{{fa "floppy-o"}} Save</button>
        <button type="reset" class="btn btn-default">{{fa "refresh"}} Reset</button>


    {{/autoForm}}
</template>
<!--Update-->
<template name="rabbit_paymentWebsiteUpdate">
    <!--Built-in template sub ready by all-->
    {{#if Template.subscriptionsReady}}
        {{#autoForm collection=Rabbit.Collection.PaymentWebsite id="rabbit_paymentWebsiteUpdate" doc=this type="update"}}
            <div class="row">
                <div class="col-md-6">
                    {{> afQuickField name="customerId" value=contractId readOnly=true}}
                    {{> afQuickField name="contractId" value=contractId readOnly=true}}
                </div>
                <div class="col-md-6">
                    {{> afQuickField name="paymentWebsiteDate"}}
                    {{> afQuickField name="des"}}
                </div>
                <div class="col-md-12">
                    {{> afArrayField name="office" template="officeCustomArrayField" subtemplate="officeCustomObjectField"}}
                    <button type="submit" class="btn btn-primary">{{fa "floppy-o"}} Save</button>
                    <button type="reset" class="btn btn-default">{{fa "refresh"}} Reset</button>
                </div>
            </div>
        {{/autoForm}}
    {{else}}
        {{> loading}}
    {{/if}}
</template>
<template name="rabbit_paymentWebsiteShow">
    <dl class="dl-horizontal">
        <dt>ID:</dt>
        <dd>{{_id}}</dd>
        <dt>customerId:</dt>
        <dd>{{_customer.companyName}}</dd>
        <dt>contractId</dt>
        <dd>{{contractId}}</dd>
        <dt>paymentWebsiteDate</dt>
        <dd>{{paymentWebsiteDate}}</dd>
        <dt>des</dt>
        <dd>{{des}}</dd>
        <dt>office</dt>
        <dd>{{office}}</dd>
    </dl>
</template>
<template name="afArrayField_officeCustomArrayField">
    <div class="panel panel-default">
        <div class="panel-heading">{{afFieldLabelText name=this.atts.name}}</div>
        <div class="panel-body">

            <div class="row">
                <div class="col-md-2">
                    <p><b>WebsiteId</b></p>
                </div>
                <div class="col-md-2">
                    <p><b>Type</b></p>
                </div>
                <div class="col-md-2">
                    <p><b>Price</b></p>
                </div>
                <div class="col-md-2">
                    <p><b>Discount(Amount)</b></p>
                </div>
                <div class="col-md-2">
                    <p><b>Paid Amount</b></p>

                </div>
                <div class="col-md-2">
                    <p><b>Due Amount</b></p>
                </div>
            </div>
            {{#if afFieldIsInvalid name=this.atts.name}}
                <div class="has-error">
                    <span class="help-block">{{{afFieldMessage name=this.atts.name}}}</span>
                </div>
            {{/if}}

            {{#afEachArrayItem name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
                <div class="row item-list">
                    {{> UI.dynamic template=../atts.subtemplate}}
                    <div class="col-sm-1">
                    </div>
                </div>
            {{/afEachArrayItem}}

            {{#if afArrayFieldHasLessThanMaximum name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
                <div class="row">
                    <div class="col-sm-1 pull-right">
                    </div>
                </div>
            {{/if}}

        </div>
    </div>
</template>
<!--Custom object field-->
<template name="officeCustomObjectField">
    <div class="col-sm-2">
        {{> afQuickField name=current.officeId template="bootstrap3" label=false class="input-sm officeId"  placeholder="officeId" readOnly=true }}
    </div>
    <div class="col-sm-2">
        {{> afQuickField name=current.office template="bootstrap3" label=false class="input-sm office" id='price' placeholder="office" readOnly=true }}
    </div>
    <div class="col-sm-2">
        {{> afQuickField name=current.price template="bootstrap3" label=false class="input-sm price" id='price' placeholder="price" readOnly=true}}
    </div>
    <div class="col-sm-2">
        {{> afQuickField name=current.discount template="bootstrap3" label=false class="input-sm discount" id='discount' placeholder="Dis(Amount)" }}
    </div>
    <div class="col-sm-2">
        {{> afQuickField name=current.paidAmount template="bootstrap3" label=false class="input-sm paidAmount" id='paidAmount' placeholder="Paid Amount"}}
    </div>
    <div class="col-sm-2">
        {{> afQuickField name=current.dueAmount template="bootstrap3" label=false class="input-sm dueAmount" id='dueAmount'  placeholder="Due Amount" readOnly=true}}
    </div>
</template>
