<template name="rabbit_paymentWebsite">
    <p>
        <button type="button" class="btn btn-primary js-insert">{{fa "plus"}} Add New</button>
    </p>

    <div class="pull-right" style="display: inline">
        <small>

            {{#with website}}
                <a href="#" class="jsInfo">{{_id}} | registerDate : {{registerDate}} | WebsiteName: {{webName}}|
                    price : {{price}}|
                    || Customer(company) : {{_customer.companyName}} |
                    ContractName : {{_customer.contractName}}</a>
            {{/with}}
        </small>
    </div>
    {{> tabular table=Rabbit.TabularTable.PaymentWebsite selector=selector class="table table-striped table-bordered table-condensed table-hover-pointer"}}
</template>

<!--Action-->
<template name="rabbit_paymentWebsiteAction">
    {{#tabularAction}}
        <li><a href="#" class="js-update updatePaymentWebsite">{{fa "pencil"}} Update</a></li>
        <li><a href="#" class="js-remove removePaymentWebsite">{{fa "remove"}} Remove</a></li>
        <li><a href="#" class="js-show">{{fa "eye"}} Show</a></li>
        <b>
            <li role="separator" class="divider"></li>
        </b>
        <li><a href="/rabbit/website/invoice/{{this._id}}" target="_blank">{{fa "print"}} Invoice</a></li>

    {{/tabularAction}}
</template>

<!--Insert-->
<template name="rabbit_paymentWebsiteInsert">
    {{#autoForm collection=Rabbit.Collection.PaymentWebsite doc=website id="rabbit_paymentWebsiteInsert" type="insert"}}
<div class="row">
  <div class="col-md-3">    {{> afQuickField name="customerId" readOnly=true}}</div>
  <div class="col-md-3">  {{> afQuickField name="websiteId" readOnly=true}}</div>
  <div class="col-md-3">  {{> afQuickField name="serviceId" readOnly=true}}</div>
  <div class="col-md-3">  {{> afQuickField name="paymentWebsiteDate"}}</div>
  <div class="col-md-12">    {{> afQuickField name="des"}}</div>
  <div class="col-md-12 buildWebsite">
      <div class="panel panel-default">
          <div class="panel-heading">Build Website</div>
          <div class="panel-body">
              <div class="col-md-4">{{> afQuickField name="buildPrice" class="buildPrice"
              readOnly=true}}
              </div>
              <div class="col-md-4">{{> afQuickField name="buildPaid" class="buildPaid" }}</div>
              <div class="col-md-4">{{> afQuickField name="buildDue" class="buildDue" readOnly=true}}
              </div>
          </div>
      </div>
  </div>

  <div class="col-md-12 service">

      <div class="panel panel-default">
          <div class="panel-heading">Service</div>
          <div class="panel-body">
              <div class="col-md-12">
                  <div class="col-sm-3"><b><u>Domain Name</u></b> {{fa "angle-double-right"}}</div>
                  <div class="col-sm-3">{{> afQuickField name="domainNamePrice" readOnly=true
                  class="domainNamePrice"}}
                  </div>
                  <div class="col-sm-3">{{> afQuickField name="domainNamePaid" class="domainNamePaid" }}
                  </div>
                  <div class="col-sm-3">{{> afQuickField name="domainNameDue" class="domainNameDue"
                  readOnly=true}}
                  </div>
              </div>
              <div class="col-md-12">
                  <div class="col-sm-3"><b><u>Hosting</u></b> {{fa "angle-double-right"}}</div>
                  <div class="col-sm-3">{{> afQuickField name="hostingPrice" readOnly=true
                  class="hostingPrice"}}
                  </div>
                  <div class="col-sm-3">{{> afQuickField name="hostingPaid" class="hostingPaid"}}</div>
                  <div class="col-sm-3">{{> afQuickField name="hostingDue" readOnly=true
                  class="hostingDue" }}
                  </div>
              </div>
              <div class="col-md-12">
                  <div class="col-sm-3"><b><u>Maintenance</u></b> {{fa "angle-double-right"}}</div>
                  <div class="col-sm-3">{{> afQuickField name="maintenancePrice" readOnly=true
                  class="maintenancePrice"}}
                  </div>
                  <div class="col-sm-3">{{> afQuickField name="maintenancePaid"
                  class="maintenancePaid"}}
                  </div>
                  <div class="col-sm-3">{{> afQuickField name="maintenanceDue" class="maintenanceDue"
                  readOnly=true}}
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
        <button type="submit" class="btn btn-primary">{{fa "floppy-o"}} Save</button>
        <button type="reset" class="btn btn-default">{{fa "refresh"}} Reset</button>
    {{/autoForm}}
</template>
<!--Update-->
<template name="rabbit_paymentWebsiteUpdate">
    <!--Built-in template sub ready by all-->
    {{#if Template.subscriptionsReady}}
        {{#autoForm collection=Rabbit.Collection.PaymentWebsite id="rabbit_paymentWebsiteUpdate" doc=this type="update"}}
<div class="row">
  <div class="col-md-3">    {{> afQuickField name="customerId" readOnly=true}}</div>
  <div class="col-md-3">  {{> afQuickField name="websiteId" readOnly=true}}</div>
  <div class="col-md-3">  {{> afQuickField name="serviceId" readOnly=true}}</div>
  <div class="col-md-3">  {{> afQuickField name="paymentWebsiteDate"}}</div>
  <div class="col-md-12">    {{> afQuickField name="des"}}</div>

  <div class="col-md-12 buildWebsite">
      <div class="panel panel-default">
          <div class="panel-heading">Build Website</div>
          <div class="panel-body">
              <div class="col-sm-4">{{> afQuickField name="buildPrice" class="buildPrice"
              readOnly=true}}
              </div>
              <div class="col-sm-4">{{> afQuickField name="buildPaid" class="buildPaid" }}</div>
              <div class="col-sm-4">{{> afQuickField name="buildDue" class="buildDue" readOnly=true}}
              </div>
          </div>
      </div>
  </div>

  <div class="col-md-12 service">

      <div class="panel panel-default">
          <div class="panel-heading">Service</div>
          <div class="panel-body">
              <div class="col-md-12">
                  <div class="col-sm-3"><b><u>Domain Name</u></b> {{fa "angle-double-right"}}</div>
                  <div class="col-sm-3">{{> afQuickField name="domainNamePrice" readOnly=true
                  class="domainNamePrice"}}
                  </div>
                  <div class="col-sm-3">{{> afQuickField name="domainNamePaid" class="domainNamePaid" }}
                  </div>
                  <div class="col-sm-3">{{> afQuickField name="domainNameDue" class="domainNameDue"
                  readOnly=true}}
                  </div>
              </div>
              <div class="col-md-12">
                  <div class="col-sm-3"><b><u>Hosting</u></b> {{fa "angle-double-right"}}</div>
                  <div class="col-sm-3">{{> afQuickField name="hostingPrice" readOnly=true
                  class="hostingPrice"}}
                  </div>
                  <div class="col-sm-3">{{> afQuickField name="hostingPaid" class="hostingPaid"}}</div>
                  <div class="col-sm-3">{{> afQuickField name="hostingDue" readOnly=true
                  class="hostingDue" }}
                  </div>
              </div>
              <div class="col-md-12">
                  <div class="col-sm-3"><b><u>Maintenance</u></b> {{fa "angle-double-right"}}</div>
                  <div class="col-sm-3">{{> afQuickField name="maintenancePrice" readOnly=true
                  class="maintenancePrice"}}
                  </div>
                  <div class="col-sm-3">{{> afQuickField name="maintenancePaid"
                  class="maintenancePaid"}}
                  </div>
                  <div class="col-sm-3">{{> afQuickField name="maintenanceDue" class="maintenanceDue"
                  readOnly=true}}
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
            <button type="submit" class="btn btn-primary">{{fa "floppy-o"}} Save</button>
            <button type="reset" class="btn btn-default">{{fa "refresh"}} Reset</button>

        {{/autoForm}}
    {{else}}
        {{> loading}}
    {{/if}}
</template>
<template name="rabbit_paymentWebsiteShow">
    <dl class="dl-horizontal">
        <dt>ID:</dt>
        <dd>{{_id}}</dd>
        <dt>Customer:</dt>
        <dd>{{_customer.companyName}}</dd>
        <dt>Website ID:</dt>
        <dd>{{websiteId}}</dd>
        <dt>Payment Website Date:</dt>
        <dd>{{paymentWebsiteDate}}</dd>
        <dt>Design Price:</dt>
        <dd>{{buildPrice}}</dd>
        <dt>Design Paid:</dt>
        <dd>{{buildPaid}}</dd>
        <dt>Design Due:</dt>
        <dd>{{buildDue}}</dd>
        <dt>Domain Name Price:</dt>
        <dd>{{domainNamePrice}}</dd>
        <dt>Domain Name Paid:</dt>
        <dd>{{domainNamePaid}}</dd>
        <dt>Domain Name Due:</dt>
        <dd>{{domainNameDue}}</dd>
        <dt>Hosting Price:</dt>
        <dd>{{hostingPrice}}</dd>
        <dt>Hosting Paid:</dt>
        <dd>{{hostingPaid}}</dd>
        <dt>Hosting Due:</dt>
        <dd>{{hostingDue}}</dd>
        <dt>Maintenance Price:</dt>
        <dd>{{maintenancePrice}}</dd>
        <dt>Maintenance Paid:</dt>
        <dd>{{maintenancePaid}}</dd>
        <dt>Maintenance Due:</dt>
        <dd>{{maintenanceDue}}</dd>
        <dt>Description:</dt>
        <dd>{{des}}</dd>

    </dl>
</template>
<!--Custom object field-->
